body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';

}

header {
    background-color: #1c1c1b;
    color: #F1E5AC;
    display: flex;
    align-items: center;
    justify-content: center;
     
}
@media (max-width: 800px) {
  header{
  flex-direction: column;
  }

  .botoes{
    margin-bottom: 10px;
  }

  .descricao button{
     padding: 0;
     margin: 0;
  }
  .descricao{
    width: fit-content;
    height: fit-content;
  }
  .thumbnails img{
    width: 50px;
    height: 50px;
  }
  .produto-principal {
    flex-direction: column;
  }
  .menus li{
    font-size: 1px;
  }
  .thumbnails{
    position: absolute;
    left: -9999px;
  }
  .produto-container{
    display: flex;
    flex-direction: column;
  }
  #imagem-principal {
   width:100%; 
   height: min-content;
  }

}

header h1 {
    margin: 10px 10px 0 10px;
}

header button {
    border-radius: 40px;
    border: none;
    cursor: pointer;
}
.logo_header{
  display: flex;
  
}

header input{
 border-radius: 10px;
 width:250px ;
}

.cabecalho ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3dc68;
    margin: 0;
    padding: 10px 0;
}

.cabecalho li {
    margin: 0 15px;
    font-size: 20px;
    cursor: pointer;
}

.carrosel{
    padding-bottom: 10px;
}

nav {
    font-family: 'Open Sans';

}

/* CAROUSEL */
.carrosel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  
    background-color: #dfdfdf;
}

.imagens-carrosel {
    position: relative;
    width: 600px;
    height: 500px;
    overflow: hidden;
    margin-top: 10px;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0; /* Começa invisível */
    transition: opacity 1s ease-in-out; /* Animação suave de 1s */
    border-radius: 8px;
}

.slider.on {
    opacity: 1; /* Quando ativa, aparece suavemente */
}


.carrosel button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 2rem;
    color: #1c1c1b;
}
.produtos{
    align-items: center;
    justify-content: center;
    width: 100%;
}

.produto-item img{
    
    width: 50%;
    height: 50%;
    
}

footer {
    background-color: #1c1c1b;
    color: #cbc3b5;
    text-align: center;
    padding: 20px;
}
.produto-item{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    margin: 10px;
    border-radius: 5px;
    width: 200px;
    height: 250px;
     text-align: center;
     margin-top: 15px;

}
#next{
    transform: rotate(90deg);
}
#prev{
    transform: rotate(-90deg);
}
.carrossel-produtos {
  display: flex;
  max-width: 850px;
  margin: 50px auto;
  overflow: hidden;
  align-items: center;
}

.lista-produtos {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  padding: 10px 10px;
  
}

.lista-produtos::-webkit-scrollbar {
  height: 10px;
}
.lista-produtos::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.produto-item {
  flex: 0 0 220px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  scroll-snap-align: start;
  text-align: center;
  padding: 10px;
  transition: transform 0.3s;
  min-width: auto;
  min-height: auto;
}

.produto-item:hover {
  transform: scale(1.05);
}

.produto-item img {
  width: 100%;
  border-radius: 10px;
}

.carrossel-produtos button {
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  border-radius: 10px;
  height: 70px;
  transition: background 0.3s;
  z-index: 10;

  justify-items: center;
 
}

#prev { left: 0; transform: rotate(00deg); }
#next { right: 0; transform: rotate(00deg);  }

.carrossel-produtos button:hover {
  background: rgba(0,0,0,0.8);
  
}
.imagens img{
  width: 100px;
  height: 100px;
}

.produto-container {
  display: flex;
  gap: 20px;
}

.galeria {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* MINIATURAS */
.thumbnails {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.thumbnails img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: transform 0.2s, border 0.2s;
}

.thumbnails img:hover {
  transform: scale(1.05);
}

.thumbnails img.active {
  border: 2px solid #000;
}

/* IMAGEM PRINCIPAL */
.main-image {
  position: relative;
}

.main-image img {
  min-width: 300px;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

/* BOTÕES */
.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  font-size: 24px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(0,0,0,0.8);
}

.seta-esquerda { left: 10px; transform: rotate(00deg);}
.seta-direita { right: 10px; transform: rotate(180deg);}
.descricao img{
  padding: 0;
  width: 20px;
  height: 20px;
}
.descricao button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
.comprar_carrinho{
  display: flex;
}
.produto-principal{
  display: flex;
  align-content: center;
  justify-content: center;
}
.descricao{
  padding-left: 10px;
}
.descricao{
  margin-left: 5px;
  border: solid #888 1px;
}
.Tambem_indicado{
  text-align: center;
  font-size: 25px;
}
.entrada_cep{display: flex;}
.titulo_detalhes{
  font-size: 25px;
}
.descricao_produto{
  margin-top: 5px;
  border: solid #888 1px;
  border-radius: 10px;
}
.descricao_produto{
  width: fit-content;
}
.descricao_centralizar{
  justify-items: center;
  align-items: center;
}
.entrada_pesquisar{
    background-color: #000;
}
  .descricao_produto{
    max-width: 1100px;
  }
  .galeria{
     width: 50%;
  }