{% extends './administracao.html' %}
{% load static %}
{% block conteudo%}
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
<div class="usuario">
 {% if usuario %}
   <div class="perfil_usuario">
  {%if usuario_alterado != true%}
    <form action="" method="POST">
       {% csrf_token %}
    <button type="button" class="foto">
      <i class="fa-solid fa-camera"></i>
      <img src="{% static 'imagens/usuario_sem_foto.png' %}" alt="" class="foto_usuario">
    </button>
    <div>
    <p>NOME: <input type="text" name="usuario_nome" id="usuario_nome" value="{{usuario.nome}}"></p>
    <p>CPF:<input type="text" name="usuario_cpf" id="usuario_cpf" value="{{usuario.CPF}}"></p>
    </div>
    <div>
    <p>DATA DE NASCIMENTO:<input type="date" name="usuario_nascimento" id="usuario_nascimento" value="{{usuario.data_nascimento |date:'Y-m-d'}}"></p>
    <p>TELEFONE:<input type="text" name="usuario_telefone" id="usuario_telefone" value="{{usuario.telefone}}"></p>
    </div>
    <div>
    <p>GENERO: 

    {% if usuario.genero == "	Masculino" %}
    <select name="genero" id="genero">
    <option value="MASCULINO" {% if usuario.genero == "	Masculino" %}selected{% endif %}>MASCULINO</option>
    <option value="FEMININO" {% if usuario.genero == "Feminino" %}selected{% endif %}>FEMININO</option>
    <option value="OUTRO" {% if usuario.genero == "OUTRO" %}selected{% endif %}>OUTRO</option>
     </select>
         <p id="campo_outro_genero" style="display:none;">
        Informe seu gênero: 
        <input type="text" name="outro_genero" id="outro_genero">
    </p>

    {%elif usuario.genero == "Feminino"%}
    <select name="genero" id="genero">
    <option value="MASCULINO" {% if usuario.genero == "	Masculino" %}selected{% endif %}>MASCULINO</option>
    <option value="FEMININO" {% if usuario.genero == "Feminino" %}selected{% endif %}>FEMININO</option>
    <option value="OUTRO" {% if usuario.genero == "OUTRO" %}selected{% endif %}>OUTRO</option>
     </select>
         <p id="campo_outro_genero" style="display:none;">
        Informe seu gênero: 
        <input type="text" name="outro_genero" id="outro_genero">
    </p>

  {%else%}
    <select name="genero" id="genero">
    <option value="MASCULINO" {% if usuario.genero == "	Masculino" %}selected{% endif %}>MASCULINO</option>
    <option value="FEMININO" {% if usuario.genero == "Feminino" %}selected{% endif %}>FEMININO</option>
    <option value="OUTRO" {% if usuario.genero == "OUTRO" %}selected{% endif %}>OUTRO</option>
    <option  {% if usuario.genero == usuario.genero %}selected{% endif %}>{{usuario.genero}}</option>
     </select>
    <p id="campo_outro_genero" style="display:none;">
        Informe seu gênero: 
        <input type="text" name="outro_genero" id="outro_genero">
    </p>
   {% endif %}
  <div class="ativo">

     <p>ATIVO:</p>

      <p>SIM<input type="radio" name="ativo" value="ativo" {%if usuario.ativo%} checked {%endif%}></p>

      <p>NÂO<input type="radio" name="desativado" id="desativado" {%if  not usuario.ativo%} checked {%endif%}></p>
      </div>

     
   <p>
    TIPO DE USUARIO:
    <input type="text" name="usuario_tipo" id="usuario_tipo" value="{{ usuario.tipo_usuario }}">
</p>
    </div>
    <div class="botoes_usuario">
       <button type="submit">SALVAR</button>
       <button type="button"><a>ALTERAR SENHA</a></button>
       </form>
      {%else%}
          <h1>{{mensagem}}</h1>

      {%endif%}
    </div>
    


 {% else %}
<p>Usuaro não encotrador</p>
 {% endif %}

</div>
<script>
document.addEventListener("DOMContentLoaded", function () {

    // ---- Mostrar campo "outro gênero" ----
    const selectGenero = document.getElementById("genero");
    const campoOutro = document.getElementById("campo_outro_genero");

    selectGenero.addEventListener("change", function () {
        campoOutro.style.display = (this.value === "OUTRO") ? "block" : "none";
    });
  });
</script>
{% endblock  %}