{% extends './administracao.html' %}
{% load static %}
{% block conteudo%}
<div class="tabela">
 <form action="" method="post" class="form_pesquisar_usuarios">
  <select name="filtro" id="filtro">
    <option value="NOME">NOME</option>
    <option value="CPF">CPF</option>
    <option value="DATA_DE_NASCIMENTO">DATA DE NASCIMENTO</option>
    <option value="TELEFONE">TELEFONE</option>
    <option value="GENERO">GENERO</option>
    <option value="EMAIL">EMAIL</option>
    <option value="TIPO_DE_USUARIO">TIPO DE USUARIO</option>
  </select>
  <input type="search" name="pesquisar_usuarios" id="">
  </form>

 <table class="tabela_usuarios">
 
  <tr>
    <th>NOME</th>
    <th>CPF</th>
    <th> DATA DE NASCIEMNTO</th>
    <th>TELEFONE</th>
    <th>GENERO</th>
    <th>EMAIL</th>
    <th>TIPO DE USUARIO</th>
  
  {% for usuario in usuarios %}
    </tr>
    <td><p><a class="atributo_usuario" href="{% url "usuario" usuario.id %}">{{usuario.nome}}</a></p></td>
    <td><p><a class="atributo_usuario" href="{% url "usuario" usuario.id %}">{{usuario.CPF}}</a></p></td>
    <td><p><a class="atributo_usuario"  href="{% url "usuario" usuario.id %}">{{usuario.data_nascimento}}</a></p></td>
    <td><p><a class="atributo_usuario"  href="{% url "usuario" usuario.id %}">{{usuario.telefone}}</a></p></td>
    <td><p><a class="atributo_usuario"  href="{% url "usuario" usuario.id %}">{{usuario.genero}}</a></p></td>
    <td><p><a class="atributo_usuario"  href="{% url "usuario" usuario.id %}">{{usuario.email}}</a></p></td>
    <td><p><a class="atributo_usuario" href="{% url "usuario" usuario.id %}">{{usuario.tipo_usuario}}</a></p></td>
    </tr>
   {% endfor %}


  </tr>

</table>

</div>
{% endblock  %}