body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
    
    
}

header {
    background-color: #1c1c1b;
    color: #F1E5AC;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
}
a{
  text-decoration: none;
}

header h1 {
    margin: 10px 10px 0 10px;
}

.cabecalho button{
    border-radius: 40px;
    border: none;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    background-color: #000;
    
}
.cabecalho i{
  color: #F1E5AC;
 width: 100%;
 height: 100%;
}

header input {
    margin: 10px 10px 0 10px;
    width: 500px;
    border-radius: 40px;
    padding: 5px 15px;
}

.cabecalho ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3dc68;
    margin: 0;
    padding: 10px 0;
    margin-bottom: 10px ;
}

.cabecalho li {
    margin: 0 15px;
    font-size: 20px;
    cursor: pointer;
}

.carrosel{
    padding-bottom: 10px;
}

nav {
    font-family: 'Open Sans';

}

/* CAROUSEL */
.carrosel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  
    background-color: #dfdfdf;
}

.imagens-carrosel {
    position: relative;
    width: 600px;
    height: 500px;
    overflow: hidden;
    margin-top: 10px;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0; /* Começa invisível */
    transition: opacity 1s ease-in-out; /* Animação suave de 1s */
    border-radius: 8px;
}

.slider.on {
    opacity: 1; /* Quando ativa, aparece suavemente */
}


.carrosel button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 2rem;
    color: #1c1c1b;
}
.produtos{
    align-items: center;
    justify-items: center;
    width: 100%;
}

.produto-item img{
    
    width: 50%;
    height: 50%;
    
}

footer {
    background-color: #1c1c1b;
    color: #cbc3b5;
    text-align: center;
    padding: 20px;
}
.produto-item{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    margin: 10px;
    border-radius: 5px;
    width: 200px;
    height: 250px;
     text-align: center;
     margin-top: 15px;

}
#next{
    transform: rotate(90deg);
}
#prev{
    transform: rotate(-90deg);
}
.carrossel-produtos {
  display: flex;
  max-width: 850rem;
  margin: 50px auto;
  overflow: hidden;
  align-items: center;
  justify-items: center;
  width: 90%;
  scrollbar-width: auto;
 justify-content: center;
}

.lista-produtos {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  padding: 10px 10px;
  scrollbar-width: auto;
  width: fit-content;
  align-items: center;
  justify-items: center;
  
}

.lista-produtos::-webkit-scrollbar {
  height: 10px;
}
.lista-produtos::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.produto-item {
  flex: 0 0 220px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  scroll-snap-align: start;
  text-align: center;
  padding: 10px;
  transition: transform 0.3s;
  min-width: auto;
  min-height: auto;
}

.produto-item:hover {
  transform: scale(1.05);
}

.produto-item img {
  width: 100%;
  border-radius: 10px;
}

.carrossel-produtos button {
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  border-radius: 10px;
  height: 70px;
  transition: background 0.3s;
  z-index: 10;

  justify-items: center;
 
}

#prev { left: 0; transform: rotate(00deg); }
#next { right: 0; transform: rotate(00deg);  }

.carrossel-produtos button:hover {
  background: rgba(0,0,0,0.8);
  
}
.imagens img{
  width: max-content;
  height: max-content;
}

.produto-container {
  display: flex;
  gap: 20px;
}

.galeria {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* MINIATURAS */
.thumbnails {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.thumbnails img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: transform 0.2s, border 0.2s;
}

.thumbnails img:hover {
  transform: scale(1.05);
}

.thumbnails img.active {
  border: 2px solid #000;
}

/* IMAGEM PRINCIPAL */
.produto-container button{
  margin: 0;
  padding: 0;
  
}

.main-image img {
  width: 400px;
  height: 400px;
  border-radius: 10px;
}
.galeria button {
position: relative;
}
.main-image{
 display: flex;
 align-items: center; 
}
.main-image{
  position :relative;
   display: inline-block;
}
.main-image img{
  display: block;
}
.main-image button{
  position: absolute;
  top: 45%;  
}

.seta-esquerda {  
  transform: rotate(00deg);  
  left: 0%;}
.seta-direita {  
  transform: rotate(180deg);
  left: 90%;}

/* BOTÕES */
.btn {

  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  font-size: 24px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(0,0,0,0.8);
}

.descricao img{
  padding: 0;
  width: 20px;
  height: 20px;
}
.descricao button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
.comprar_carrinho{
  display: flex;
}
.produto-principal{
  display: flex;

}
.descricao{
  padding-left: 10px;
}
.descricao{
  margin-left: 5px;
  border: solid #888 1px;
}
.Tambem_indicado{
  text-align: center;
  font-size: 25px;

}
 .titulo_logo{
  display: flex;
 }
.titulo a{
   text-decoration: none;
   color: #F1E5AC;
}
.descricao_pruduto_principal{
  justify-items: center;

}
.descricao_pruduto_principal_texto{
  border: solid  1px gray;
  border-radius: 1px;

}
.descricao_pruduto_principal p{
  max-width:1200px ;
}
.pagina_Produto{
  align-items: center;
  justify-items: center;
  display: flex;
  flex-direction: column;

}
@media (max-width: 1000px) {
 .produto-principal{
  flex-direction: column;
 }
 .main-image img {
  max-width: 100%;
  height: auto;

} 
 header{
  flex-direction: column;
 }
 .titulo_logo{
  display: flex;
 }
 .carrossel-produtos{
  width: auto;
 }
 .produto-item{
   min-width: auto;
  min-height: auto;
 }

header input {
    width: 50%;
}
.pesquisar_botoes{
padding-left: 10%;
 width: 100%;
}
.thumbnails{
 position : absolute;
}
.main-image img{
  width: 100%;
  height: auto;
}
.produto-item{
  width: 500px;
}
.carrossel-produtos{
  scrollbar-width: auto;
   width: fit-content;
}
.lista-produtos{
 scrollbar-width: 1%;
  width: 500px;
}
.descricao_pruduto_principal{
  width: 92%;
}
}
